<h1>ISAGOKSU</h1>
<nav id="menu">
   <ul>
      <li><a href="/" class="active">home</a></li>
      <li class="even">/</li>
      <li><a href="https://github.com/isa">projects</a></li>
      <li class="even">/</li>
      <li><a href="http://zerp.ly/IsaGoksu">about</a></li>
</nav>
<div id="page-header">
   <hr class="signature-line" />
   <p class="signature">ig</p>
</div>

