h1 ISAGOKSU
nav(id="menu")
   ul
      li
         a href="/" class="active" home
      li class="even"
         | /
      li
         a href="https://github.com/isa" projects
      li class="even"
         | /
      li
         a href="http://zerp.ly/IsaGoksu" about

#page-header
   p class="signature"
      | ig
   hr class="signature-line"

