<!DOCTYPE html>
<html>
   <head>
      <%= partial "head" %>
   </head>

   <body>
      <div id="main">
         <header id="on-top"></header>
         <div id="content">
            <%= partial "menu" %>
            <section id="archive">
               <article>
                  <header><a href="#">How to Optimize Java 7</a></header>
                  <p>August 24th, 2010</p>
               </article>
               <article>
                  <header><a href="#">Occam&apos;s Razor</a></header>
                  <p>July 11th, 2010</p>
               </article>
               <article>
                  <header><a href="#">JUnit Datapoint and Annotations</a></header>
                  <p>March 20th, 2010</p>
               </article>
               <article>
                  <header><a href="#">Many Articles and Still Posting</a></header>
                  <p>February 13th, 2010</p>
               </article>
               <article>
                  <header><a href="#">Occam&apos;s Razor</a></header>
                  <p>July 11th, 2010</p>
               </article>
               <article>
                  <header><a href="#">How to Optimize Java 7</a></header>
                  <p>August 24th, 2010</p>
               </article>
            </section>
         </div>
      </div>
      <%= partial "footer" %>
   </body>
</html>
