article#featured
   header New Blog
   p.brief
      ' Started blogging again. I must say I'm pretty excited after 2 long years. I've a lot to tell this time.
        I hope you guys enjoy the new theme and the new articles..
      == link_to "read more &raquo;", "/2011/announcements/new-blog/"

ul
   li
      span class="circle" 01
      == link_to "Occam's razor", "/2009/quotes/occams-razor/"
   li
      span class="circle" 02
      == link_to "Fancy UITabbar Like Tweetie", "/2009/development/ios/fancy-uitabbar-like-tweetie/"
   li
      span class="circle" 03
      == link_to "Single, Dynamic, Multiple and Double Dispatching", "/2009/development/java/single-dynamic-multiple-and-double-dispatching/"
   li
      p
         ' find more
         == link_to "entries &raquo;", "/articles/"
