doctype html
html
   == partial "head"

   body
      #main
         header id="on-top"
         #content
            == partial "menu"
            section(id="articles")
               == yield

            div#disqus_thread
            script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.3/jquery.min.js"
            javascript:
               !window.jQuery && document.write('<script src="/javascripts/jquery.min.js"><\/script>')
               $(document).ready(function() {
                  $(function(){
                     $("pre").hover(function() {
                        var codeInnerWidth = $("code", this).width() + 10;
                        if (codeInnerWidth > 640) {
                           $(this).stop(true, false).css({zIndex:"99",position:"relative",overflow:"hidden"}).animate({width:codeInnerWidth+"px"});
                        }
                     }, function() {
                        $(this).stop(true, false).animate({width:640});
                     });
                  });
               });
               var disqus_developer = 1;
               var disqus_shortname = 'localblog';
               (function() {
                  var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                  dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
               })();

            noscript
               ' Please enable JavaScript to view the
               == link_to "comments powered by Disqus", "http://disqus.com/?ref_noscript"
               ' .

      == partial "footer"
