<!DOCTYPE html>
<html>
   <head>
      <%= partial "head" %>
   </head>

   <body>
      <div id="main">
         <header id="on-top"></header>
         <div id="content">
            <%= partial "menu" %>
            <section id="articles">
               <%= yield %>
            </section>
         </div>
      </div>
      <%= partial "footer" %>
   </body>
</html>
