doctype html
html
   == partial "head"

   body
      #main
         header id="on-top"
         #content
            == partial "menu"
            section(id="articles")
               == yield
      == partial "footer"
